/* GLYPHS */
@font-face {
	font-family: 'glyph';
	src: font-url('glyph.eot?-ehg41d');
	src: font-url('glyph.eot?#iefix-ehg41d') format('embedded-opentype'),
		 font-url('glyph.ttf?-ehg41d') format('truetype'),
		 font-url('glyph.woff?-ehg41d') format('woff'),
		 font-url('glyph.svg?-ehg41d#glyph') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'glyph';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\e600";
}
.icon-dribbble:before {
	content: "\e601";
}
.icon-feed:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-flickr:before {
	content: "\e605";
}
.icon-vimeo:before {
	content: "\e606";
}
.icon-tumblr:before {
	content: "\e607";
}
.icon-youtube:before {
	content: "\e608";
}
.icon-soundcloud:before {
	content: "\e609";
}
.icon-pinterest:before {
	content: "\e60a";
}
.icon-googleplus:before {
	content: "\e60b";
}
.icon-linkedin:before {
	content: "\e60c";
}
.icon-behance:before {
	content: "\e60d";
}
.icon-instagram:before {
	content: "\e60e";
}
.icon-spotify:before {
	content: "\e60f";
}
