/* TOP LOGO */
#logo-header {
	padding-top: 4%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	text-align: center;

	img {
		display: inline-block;
		width: 18%;
		margin: 0 auto;

		@include breakpoint(mobile) {
			width: 40%;
		}
	}

	@include breakpoint(mobile) {
		padding-top: 8%;
	}
}