/* PAGINATION */
#pagination {
	@include rem(padding-top,2rem);
	width: 100%;
	background: darken(white,5%);

	.older-posts {
		float: right;
	}

	.newer-posts {
		float: left;
	}
	
	.page-number{
          display:none;
        }
}
